.App {
  margin-top: 25px;
}

.heading {
  display: grid;
  grid-template-columns: auto auto;
  font-size: 24px;
  margin: 0 auto;
  justify-content: space-between;
}

input,
select:focus,
textarea {
  font-size: 16px;
}
